* {
  margin: 0;
  padding: 0;
}

body {
  background: rgb(198, 243, 198);
}

header,
footer {
  background: rgb(3, 179, 135);
  padding: 20px;
  text-align: center;
  color: rgb(241, 236, 236);
}

img {
  width: 40%;
  border-radius: 20px;
}

.tutorialCD h1 {
  margin-top: 70px;
}

.imgs {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cards p {
  margin-bottom: 10px;
}

.Total {
  padding: 20px;
}

.cards {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

@media (max-width: 768px) {
  img {
    width: 100%;
  }

  .Total {
    display: block;
  }

  .cards {
    width: 100%;
  }
}